// FONTS
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Spartan:wght@400;500;700&display=swap');
$spartan: 'Spartan', sans-serif;

// PRIMARY COLORS
$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);

// NEUTRAL COLORS
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);